:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-footer-color: rgba(255, 255, 255, 0.6);
  --primary-bgc-color: #e5e5e5;
  --secondary-bgc-color: #f5f4fa;
  --accent-bgc-color: #2f303a;
}

body {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*Страница Студия*/

/*Шапка страницы*/

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
.header-nav {
  background-color: var(--secondary-text-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.studio {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.header-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*Эффективные решения*/

.section {
  background-color: var(--accent-bgc-color);
}
.section-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
}

/*План решения*/

.section-plan-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-plan-text {
  font-weight: 400;
  line-height: 1.71;
}

/*Чем мы занимаемся-*/

.section-work .title,
.section-team .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*Наша команда*/

.section-team {
  background-color: var(--secondary-bgc-color);
}
.section-team-name,
.section-team-profesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-team-name {
  color: var(--title-text-color);
  font-weight: 500;
}
.section-team-profesion {
  font-weight: 400;
}

/*Подвал страницы*/

.footer {
  background-color: var(--accent-bgc-color);
  font-style: normal;
}
.footer-studio {
  color: var(--secondary-text-color);
}
.footer-address {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.71;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
.footer-contacts {
  color: var(--accent-footer-color);
  font-weight: 400;
  line-height: 1.71;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/*Страница Портфолио*/

.section-main {
  background-color: var(--secondary-text-color);
}
.buttons {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
}
.buttons:hover,
.buttons:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.section-main-buttons .current {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.section-pictures-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-pictures-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
